@media (max-width: 1800px) {}

@media (max-width: 1100px) {
  .solutions__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .solutions__item {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }

  .solutions__block {
    gap: 40px;
  }

  .solutions {
    padding: 70px 86px;
  }
}

@media (max-width: 1800px) {}

@media (max-width: 1800px) {}